* {
    display: grid;

}

title, .replay {
    visibility: hidden;
    text-align: center;
} 

body {
    height: 100vmin;
    width: 100vmin;
    margin: 0 auto;
}

.grid-container {
    height: 90vh;
    width: 90vh;
    grid-template-columns: auto auto auto;
    margin: auto auto;
}

.grid-container * {
    border:1px solid black;
}